<!DOCTYPE html>
<html lang="en">
  <head>
    <!---<<< Required Meta Tags >>>--->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="rgba(233, 61, 107, .7)" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!---<<< Tittle >>>--->
    <title>HalloFish</title>

    <!---<<< Main Awesome Fonts Google >>>--->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!---<<< Fonts Icon >>>--->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!---<<< Set Icon Tittlebar >>>--->
    <link
      rel="shortcut icon"
      type="image"
      href="../static/Img/icon-hallofish.png"
    />

    <!---<<< Styles CSS >>>--->
    <link rel="stylesheet" href="../static/css/StylesComponent.css" />
    <link rel="stylesheet" href="../static/css/StyleResponsive.css" />
    <style>
      .testimonial {
        background-image: linear-gradient(
            45deg,
            rgba(var(--grad-color-1), 0.8),
            rgba(var(--grad-color-2), 0.8)
          ),
          url(../static/Img/fishcover.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body>
    <!---<<< Scroll Top & Button Start >>>--->
    <button id="scroll-top">
      <i class="fas fa-arrow-up"></i>
    </button>
    <!---<<< Scroll Top & Button End >>>--->

    <!---<<< Navbar Start >>>---->
    <header>
      <nav>
        <a href="#home" id="logo">HalloFish</a>
        <i class="fas fa-bars" id="ham-menu"></i>
        <ul id="nav-bar">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#features">Features</a>
          </li>
          <li>
            <a href="#resource">Resource</a>
          </li>
          <li>
            <a href="#reviews">Reviews</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <!---<<< Navbar End >>>---->

    <!---<<< Background Home Start >>>--->
    <section class="hero" id="home">
      <img src="../static/Img/header-shape.svg" id="header-shape" />
      <div class="hero-content">
        <h1>Welcome to HalloFish</h1>
        <p>
          Our website, HalloFish, is an innovative solution to assist fish
          farmers in quickly and accurately detecting fish diseases. We
          understand that fish diseases are one of the main obstacles in
          freshwater fish farming, leading to significant economic losses. By
          utilizing the latest technology in image recognition, we have
          developed a website application that enables fish farmers to detect
          fish diseases simply by uploading photos.
        </p>
        <div class="btn-container">
          <a href="/predict" class="primary-btn btn">Start Detections</a>
          <a href="_blank" class="secondary-btn btn">Explore More</a>
        </div>
      </div>
      <div class="hero-img">
        <img src="../static/Img/icon-hallofish.png" />
      </div>
    </section>
    <!---<<< Background Home End >>>--->

    <!---<<< Tšobotsi Start  >>>--->
    <section class="features" id="features">
      <h2>Why Choose Us</h2>
      <p class="section-desc">
        There are several reasons why HalloFish is a good choice for detecting
        fish diseases and providing related information
      </p>
      <div class="row">
        <div class="column">
          <i class="fas fa-star"></i>
          <h3>Speed and Accuracy</h3>
          <p>
            HalloFish utilizes advanced image recognition technology to detect
            fish diseases quickly and accurately. By uploading photos of
            infected fish, you will receive detection results promptly, enabling
            swift actions to prevent disease spread and reduce economic losses.
          </p>
        </div>
        <div class="column">
          <i class="fas fa-thumbs-up"></i>
          <h3>Comprehensive Information</h3>
          <p>
            HalloFish not only provides disease detection results but also
            grants access to a comprehensive database of information about
            various fish diseases, including prevention measures, recommended
            treatments, and solutions to avoid disease spread. This helps fish
            farmers better understand the diseases and take effective steps to
            address them in their fish farming operations.
          </p>
        </div>
        <div class="column">
          <i class="fas fa-star"></i>
          <h3>Accessibility</h3>
          <p>
            Being a web application, HalloFish can be accessed via mobile
            devices or computers with an internet connection. This makes it
            convenient for fish farmers to use the application wherever and
            whenever they need it, without requiring additional software
            installations.
          </p>
        </div>
      </div>
    </section>
    <!---<<< Tšobotsi End  >>>--->

    <!---<<< Article Resource Start >>>--->
    <section class="resource" id="resource">
      <h2>Article Resource</h2>
      <div class="box-article-blog">
        <div class="article">
          <div class="article-image">
            <img src="../static/Img/article-1.jpg" alt="" />
          </div>
          <div class="article-meta">
            <div class="article-top">
              <a href="#" class="cat">Machine Learning in Aquaculture</a>
              <span class="date">May 2021</span>
            </div>
            <div class="article-body">
              <h5 class="article-title">
                <a href="https://doi.org/10.1016/j.jksuci.2021.05.003"
                  >Fish Disease Detection Using Image Based Machine Learning
                  Technique in Aquaculture</a
                >
              </h5>
              <div class="art">
                Fish diseases in aquaculture constitute a significant hazard to
                nutriment security. Identification of infected fishes in
                aquaculture remains challenging to find out at the early stage
                due to the dearth of necessary infrastructure. The
                identification of infected fish timely is an obligatory step to
                thwart from spreading disease. In this work, we want to find out
                the salmon fish disease in aquaculture, as salmon aquaculture is
                the fastest-growing food production system globally, accounting
                for 70 percent (2.5 million tons) of the market. In the alliance
                of flawless image processing and machine learning mechanism, we
                identify the infected fishes caused by the various
                pathogen......
              </div>
            </div>
            <div class="article-bottom">
              <div class="user">
                <div class="author">
                  <img src="../static/Img/icon-hallofish.png" alt="" />
                </div>
                <span class="username">HalloFish Resource</span>
              </div>
              <a
                href="https://doi.org/10.1016/j.jksuci.2021.05.003"
                class="readmore"
                >Read more</a
              >
            </div>
          </div>
        </div>

        <div class="article">
          <div class="article-image">
            <img src="../static/Img/article-2.jpg" alt="" />
          </div>
          <div class="article-meta">
            <div class="article-top">
              <a href="#" class="cat">Maintenance of Fish Health</a>
              <span class="date">Feb 2018</span>
            </div>
            <div class="article-body">
              <h5 class="article-title">
                <a href="https://doi.org/10.1155/2018/5432497"
                  >Maintenance of Fish Health in Aquaculture Prevention and
                  Control of Infectious Diseases</a
                >
              </h5>
              <div class="art">
                Aquaculture is rapidly growing part of agriculture worldwide. It
                makes up around 44 percent of total fish production globally.
                This increased growth of production is achieved despite facing
                many challenges in the aquaculture environment. Among production
                limiting challenges, the infectious disease takes the lion share
                by causing multibillion-dollar loss annually. To reduce the
                impact of the fish disease, it is necessary to address health
                constraints based on scientifically proven and recommended ways.
                This review aims at pointing out some of the best approaches to
                prevention and control of infectious disease in aquaculture.
                Among the effective prevention and control strategies,
                vaccination is one of the key practices.....
              </div>
            </div>
            <div class="article-bottom">
              <div class="user">
                <div class="author">
                  <img src="../static/Img/icon-hallofish.png" alt="" />
                </div>
                <span class="username">HalloFish Resource</span>
              </div>
              <a href="https://doi.org/10.1155/2018/5432497" class="readmore"
                >Read more</a
              >
            </div>
          </div>
        </div>

        <div class="article">
          <div class="article-image">
            <img src="../static/Img/article-3.jpg" alt="" />
          </div>
          <div class="article-meta">
            <div class="article-top">
              <a href="#" class="cat">Diagnosis in Aquaculture</a>
              <span class="date">Jan 2021</span>
            </div>
            <div class="article-body">
              <h5 class="article-title">
                <a href="https://doi.org/10.3390/ani11010125"
                  >Fish Pathology Research and Diagnosis in Aquaculture of
                  Farmed Fish; a Proteomics Perspective</a
                >
              </h5>
              <div class="art">
                One of the main constraints in aquaculture production is farmed
                fish vulnerability to diseases due to husbandry practices or
                external factors like pollution, climate changes, or even the
                alterations in the dynamic of product transactions in this
                industry. It is though important to better understand and
                characterize the intervenients in the process of a disease
                outbreak as these lead to huge economical losses in aquaculture
                industries. High-throughput technologies like proteomics can be
                an important characterization tool especially in pathogen
                identification and the virulence mechanisms related to
                host-pathogen......
              </div>
            </div>
            <div class="article-bottom">
              <div class="user">
                <div class="author">
                  <img src="../static/Img/icon-hallofish.png" alt="" />
                </div>
                <span class="username">HalloFish Resource</span>
              </div>
              <a href="https://doi.org/10.3390/ani11010125" class="readmore"
                >Read more</a
              >
            </div>
          </div>
        </div>

        <div class="article">
          <div class="article-image">
            <img src="../static/Img/article-4.jpg" alt="" />
          </div>
          <div class="article-meta">
            <div class="article-top">
              <a href="#" class="cat">Diseases Redspot</a>
              <span class="date">Jan 2021</span>
            </div>
            <div class="article-body">
              <h5 class="article-title">
                <a href="https://doi.org/10.3390/ani11010125"
                  >Bacterial and Parasitic Diseases of Pet Fish</a
                >
              </h5>
              <div class="art">
                One of the main constraints in aquaculture production is farmed
                fish vulnerability to diseases due to husbandry practices or
                external factors like pollution, climate changes, or even the
                alterations in the dynamic of product transactions in this
                industry. It is though important to better understand and
                characterize the intervenients in the process of a disease
                outbreak as these lead to huge economical losses in aquaculture
                industries. High-throughput technologies like proteomics can be
                an important characterization tool especially in pathogen
                identification and the virulence mechanisms related to
                host-pathogen interactions on disease research and diagnostics
                that will help to control, prevent, and treat diseases in farmed
                fish.....
              </div>
            </div>
            <div class="article-bottom">
              <div class="user">
                <div class="author">
                  <img src="../static/Img/icon-hallofish.png" alt="" />
                </div>
                <span class="username">HalloFish Resource</span>
              </div>
              <a href="https://doi.org/10.3390/ani11010125" class="readmore"
                >Read more</a
              >
            </div>
          </div>
        </div>

        <div class="article">
          <div class="article-image">
            <img src="../static/Img/article-5.jpg" alt="" />
          </div>
          <div class="article-meta">
            <div class="article-top">
              <a href="#" class="cat">Diseases Whitespot</a>
              <span class="date">Sep 2020</span>
            </div>
            <div class="article-body">
              <h5 class="article-title">
                <a href="https://doi.org/10.1111/jfd.13264"
                  >Quantitative Trait Loci (QTL) Associated With Resistance of
                  Against The Parasitic Ciliate Ichthyophthirius multifiliis</a
                >
              </h5>
              <div class="art">
                The parasitic ciliate Ichthyophthirius multifiliis has a low
                host specificity eliciting white spot disease (WSD) in a wide
                range of freshwater fishes worldwide. The parasite multiplies
                rapidly whereby the infection may reach problematic levels in a
                host population within a few days. The parasite targets both
                wild and cultured fish but the huge economic impact of the
                protozoan is associated with mortality, morbidity and treatment
                in aquacultural enterprises. We have investigated the potential
                for genetic selection of WSD-resistant strains of rainbow trout
                Applying the DNA system Affymetrix®......
              </div>
            </div>
            <div class="article-bottom">
              <div class="user">
                <div class="author">
                  <img src="../static/Img/icon-hallofish.png" alt="" />
                </div>
                <span class="username">HalloFish Resource</span>
              </div>
              <a href="https://doi.org/10.1111/jfd.13264" class="readmore"
                >Read more</a
              >
            </div>
          </div>
        </div>

        <div class="article">
          <div class="article-image">
            <img src="../static/Img/article-6.jpg" alt="" />
          </div>
          <div class="article-meta">
            <div class="article-top">
              <a href="#" class="cat">Diseases Bacterial</a>
              <span class="date">Nov 2019</span>
            </div>
            <div class="article-body">
              <h5 class="article-title">
                <a
                  href="https://nexusacademicpublishers.com/uploads/files/AAVS_7_11_950-961.pdf"
                  >The Most Prevailing Bacterial Diseases Infecting Oreochromis
                  niloticus</a
                >
              </h5>
              <div class="art">
                Diseased fish showed hemorrhagic patches distributed all over
                the body, detachment of scales, fin erosions, distended abdomen
                and corneal opacity with exophthalmia in some cases. Moreover,
                experimental infection using the most prevalent pathogenic
                bacteria (Aeromonas hydrophila) was conducted. Biochemical
                tests, revealed the presence of Aeromonas hydrophila, Aeromonas
                sobria, Pseudomonas fluorescens, Enterococcus faecalis,
                Staphylococcus aureus and Streptococcus agalactiae with
                prevalence of 56%, 45%, 33%, 11%, 13% and 14%, respectively.
                Molecular identification, antimicrobial susceptibility, multiple
                antibiotic resistance (MAR index) and histopathological changes
                induced by Aeromonas hydrophila were investigated......
              </div>
            </div>
            <div class="article-bottom">
              <div class="user">
                <div class="author">
                  <img src="../static/Img/icon-hallofish.png" alt="" />
                </div>
                <span class="username">HalloFish Resource</span>
              </div>
              <a
                href="https://nexusacademicpublishers.com/uploads/files/AAVS_7_11_950-961.pdf"
                class="readmore"
                >Read more</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---<<< Article Resource End >>>--->

    <!---<<< Testimonial Start >>>--->
    <section class="testimonial" id="reviews">
      <h2>What are they saying</h2>
      <p class="section-desc">
        We provide fish disease detection services that are not available
        elsewhere, and this is a review from them after using our service
      </p>
      <div class="row">
        <div class="column">
          <div class="testimonial-image">
            <img src="../static/Img/person-1.png" />
          </div>
          <p>
            Using HalloFish for fish disease detection was for my fish farming
            business. Their service is truly unique and unmatched by any other
            platform out there. The accuracy and speed of their disease
            detection algorithm impressed me. It helped me quickly identify and
            address diseases in my fish population, saving me valuable time and
            preventing further spread. The comprehensive information and
            treatment recommendations provided by HalloFish were incredibly
            helpful in effectively managing the health of my fish. I highly
            recommend their services to any fish farmer looking for a reliable
            and efficient way to detect and combat fish diseases.
          </p>
          <h3>Nazaka</h3>
        </div>
        <div class="column">
          <div class="testimonial-image">
            <img src="../static/Img/person-2.png" />
          </div>
          <p>
            I cannot express enough how grateful I am for HalloFish and their
            fish disease detection services. Their platform offers something
            that simply cannot be found elsewhere. As a fish farmer, detecting
            diseases early is crucial to maintaining a healthy. HalloFish
            innovative technology accurately identified diseases in my fish,
            giving me the opportunity to take immediate action. The information
            and solutions provided were comprehensive and easy to understand,
            enabling me to implement the necessary treatments effectively.
            Thanks to HalloFish, I have been able to protect my fish population
            and avoid significant economic losses. I highly recommend their
            services to all fish farmers seeking a reliable and accessible
            solution for disease detection.
          </p>
          <h3>Jasson</h3>
        </div>
      </div>
    </section>
    <!---<<< Testimonial End >>>--->

    <!---<<< Author Start  >>>--->
    <adside>
      <section class="contact" id="contact">
        <h2 class="heading">contact us</h2>
        <div class="alert hide">
          <span class="msg">Thank you for the message</span>
          <span class="fas fa-check-circle"></span>
        </div>
        <div class="row">
          <div class="contactautor">
            <div class="author">
              <img
                src="../static/Img/author.png"
                alt=""
                width="150px"
                height="150px"
              />
            </div>
            <h6>C23-PR582</h6>
            <p>Capstone Product Bangkit</p>
            <div class="social-media">
              <div class="media">
                <a href="https://me-qr.com/pGwhRvQV">
                  <img
                    src="../static/Img/properties-email.png"
                    alt=""
                    width="40px"
                  />
                </a>

                <a href="https://github.com/HalloFish-Capstone">
                  <img
                    src="../static/Img/properties-github.png"
                    alt=""
                    width="40px"
                  />
                </a>

                <a href="https://sociabuzz.com/hallofish/tribe">
                  <img
                    src="../static/Img/properties-donation.png"
                    alt=""
                    width="40px"
                  />
                </a>
              </div>
            </div>
          </div>

          <form name="HalloFish-contact-form">
            <span>What can I call you...</span>
            <input
              type="text"
              required
              placeholder="enter your full name"
              maxlength="50"
              name="name"
              class="box"
            />
            <span>Please write your email address...</span>
            <input
              type="email"
              required
              placeholder="enter your valie email"
              maxlength="50"
              name="email"
              class="box"
            />
            <span>Please write your number phone...</span>
            <input
              type="phone"
              required
              placeholder="enter your valie phone"
              max="9999999999"
              min="0"
              name="phone"
              class="box"
            />
            <span>Write message you want to convey...</span>
            <input
              type="message"
              required
              placeholder="enter your messages"
              maxlength="5000"
              name="message"
              name="phone"
              class="box"
            />
            <span>Choose a suitable nickname for</span>
            <div class="radio">
              <input type="radio" name="gender" value="male" id="male" />
              <label for="male">Sir</label>
              <input type="radio" name="gender" value="female" id="female" />
              <label for="female">Sis</label>
            </div>
            <button type="submit" value="send message" class="send" name="send">
              Send Message
            </button>
          </form>
        </div>
      </section>
    </adside>

    <!---<<< Author End  >>>--->

    <!---<<< Footer Start >>>--->
    <footer>
      <div class="row footer-about">
        <img src="../static/Img/icon-white.png" width="250px" />
        <p>
          With HalloFish, we aim to make a significant impact on the global food
          supply chain by reducing economic losses and increasing productivity
          in fish farming. We believe that innovative technology and easy access
          to information will assist fish farmers in better facing the
          challenges of fish diseases. If you are interested in the HalloFish
          project or have further questions, please feel free to contact us
          through the provided information.
        </p>
        <br /><br /><br /><br /><br />
        <p class="footer-copyright">
          Copyright &copy; 2023 HalloFish. All rights reserved.
        </p>
      </div>
    </footer>
    <!---<<< Footer End >>>--->

    <!---<<< Custom JavaScript >>>--->
    <script src="../static/ScriptJava.js"></script>

    <!---<<< From Contact Spreadsheets Responsive Start >>>--->
    <script>
      const scriptURL =
        "https://script.google.com/macros/s/AKfycbwQnQc8rT2HstLJBj-24LydeBwOE-A8YLufVPO6JmL-UAMSTzqRfwbSpt_4GWzetrk/exec";
      const form = document.forms["HalloFish-contact-form"];
      const alert = document.querySelector(".alert");

      form.addEventListener("submit", (e) => {
        e.preventDefault();
        fetch(scriptURL, { method: "POST", body: new FormData(form) })
          .then((response) => {
            /* Tampilkan Alert */
            alert.classList.toggle("hide");
            /* Reset Formnya */
            form.reset();
            console.log("Success!", response);
          })
          .catch((error) => console.error("Error!", error.message));
      });
    </script>
    <!---<<< From Contact Spreadsheets Responsive End >>>--->

    <!---<<< Link Spreadsheets Database Contact Forms >>>--->
    <!---{ https://bit.ly/HalloFish-Contact-Forms }--->
  </body>
</html>
