<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!---<<< Tittle >>>--->
  <title>Login by HalloFish</title>

  <!---<<< Main Awesome Fonts Google >>>--->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />

  <!---<<< Fonts Icon >>>--->
  <link rel="stylesheet" href="Img/material-icon/css/material-design-iconic-font.css">

  <!---<<< Set Icon Tittlebar >>>---> 
  <link rel="shortcut icon" type="image" href="Img/icon-hallofish.png">

  <!---<<< Styles CSS >>>--->
  <link rel="stylesheet" href="StyleAuthentification.css">
</head>
<body>
	<div class="main">
		<!---<<< Login in Form >>>--->
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">
					<div class="signin-image">
						<figure>
							<img src="Img/login.jpg" alt="sing up image">
						</figure>
						<a href="registration.html" class="signup-image-link">Create an account</a>
					</div>

					<div class="signin-form">
						<h2 class="form-title">Login</h2>
						<form method="" action="" class="register-form" id="login-form">
							
              <div class="form-group">
								<label for="username"><i
									class="zmdi zmdi-account material-icons-name"></i></label> <input
									type="text" name="username" id="username"
									placeholder="Your Name" />
							</div>

							<div class="form-group">
								<label for="password"><i class="zmdi zmdi-lock"></i></label> <input
									type="password" name="password" id="password"
									placeholder="Password" />
							</div>

							<div class="form-group">
								<input type="checkbox" name="remember-me" id="remember-me"
									class="agree-term" /> <label for="remember-me"
									class="label-agree-term"><span><span></span></span>Remember me</label>
							</div>

              <div class="form-group form-button">
                <a href="_blank"input type="submit" name="signin" id="signin"
                class="form-submit">Login</a>
              </div>
						</form>

						<div class="social-login">
							<span class="social-label">Or login with</span>
							
              <ul class="socials">
								<li><a href="#"><i
										class="display-flex-center zmdi zmdi-facebook"></i></a></li>
								<li><a href="#"><i
										class="display-flex-center zmdi zmdi-twitter"></i></a></li>
								<li><a href="#"><i
										class="display-flex-center zmdi zmdi-google"></i></a></li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
<!---<<< This templates was made by Colorlib (https://colorlib.com) >>>--->
</html>