<!DOCTYPE html>
<html lang="en">
  <head>
		<!---<<< Required Meta Tags >>>--->
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!---<<< Tittle >>>--->
    <title>Sign Up Form by HalloFish</title>

    <!---<<< Main Awesome Fonts Google >>>--->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />

    <!---<<< Fonts Icon >>>--->
    <link rel="stylesheet" href="Img/material-icon/css/material-design-iconic-font.min.css">

    <!---<<< Set Icon Tittlebar >>>---> 
    <link rel="shortcut icon" type="image" href="Img/icon-hallofish.png">

    <!---<<< Styles CSS >>>--->
    <link rel="stylesheet" href="StyleAuthentification.css">
  </head>
  <body>
	  <div class="main">

		<!---<<< Sign up form >>>--->
		<section class="signup">
			<div class="container">
				<div class="signup-content">
					<div class="signup-form">
						<h2 class="form-title">Sign up</h2>
					
						<form method="" action="" class="register-form"
							id="register-form">

							<div class="form-group">
								<label for="name"><i
									class="zmdi zmdi-account material-icons-name"></i></label> <input
									type="text" name="name" id="name" placeholder="Your Name" />
							</div>

							<div class="form-group">
								<label for="email"><i class="zmdi zmdi-email"></i></label> <input
									type="email" name="email" id="email" placeholder="Your Email" />
							</div>

							<div class="form-group">
								<label for="pass"><i class="zmdi zmdi-lock"></i></label> <input
									type="password" name="pass" id="pass" placeholder="Password" />
							</div>

							<div class="form-group">
								<label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
								<input type="password" name="re_pass" id="re_pass"
									placeholder="Repeat your password" />
							</div>

							<div class="form-group">
								<label for="contact"><i class="zmdi zmdi-lock-outline"></i></label>
								<input type="text" name="contact" id="contact"
									placeholder="Contact no" />
							</div>

							<div class="form-group">
								<input type="checkbox" name="agree-term" id="agree-term"
									class="agree-term" /> <label for="agree-term"
									class="label-agree-term"><span><span></span></span>I
									agree all statements in <a href="#" class="term-service">Terms
										of service</a></label>
							</div>

							<div class="form-group form-button">
                <a href="_blank"input type="submit" name="signup" id="signup"
                class="form-submit">Register</a>
              </div>
						</form>
					</div>
					<div class="signup-image">
						<figure>
							<img src="Img/signup.jpg" alt="sing up image">
						</figure>
						<a href="login.html" class="signup-image-link">I am already member</a>
					</div>
				</div>
			</div>
		</section>
	</div>
  </body>
<!---<<< This templates was made by Colorlib (https://colorlib.com) >>>--->
</html>